.page {
    display: flex;
    height: 100vh;
    padding: 1rem;

    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;

        .top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            flex: 1;
            height: 50%;

            .left,
            .right {
                background-color: var(--card);
                border-radius: 0.5rem;
            }
        }

        .bottom {
            flex: 1;
            height: 50%;
            background-color: var(--card);
            border-radius: 0.5rem;
        }
    }
}
